.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  row-gap: 10px;
  width: 60%;
  background-color: #414141;
  border-radius: 30px;
}
